Backend/API.User/bin/
Backend/API.User/obj/
Backend/LMS.APIGateway/obj/
Backend/SharedLib/obj/
Backend/SharedLib/bin/
Backend/LMS.APIGateway/bin/
Backend/LMS.APIGateway/.vs/
Backend/API.Mailer/obj/
Backend/API.Mailer/bin/
Backend/API.Course/bin/
Backend/API.Image/bin/
Backend/API.Image/obj/
Backend/API.Course/obj/
Backend/API.Image/wwwroot/uploads/
